.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000; /* Retro black background */
  padding: 20px;
  border-top: 4px solid #ffcc00;
  font-family: "Press Start 2P", monospace;
  z-index: 1000;
}

.level {
  font-size: 1.2rem;
  color: #fff;
}

.levelValue {
  color: #00ffcc;
}

.easy {
  color: #00ffcc; /* Green for Easy */
}

.intermediate {
  color: #00ffcc; /* Blue for Intermediate */
}

.advanced {
  color: #00ffcc; /* Orange for Advanced */
}

.na {
  color: #00ffcc; /* Gray for NA */
}

.xpBarContainer {
  display: flex;
  align-items: center;
  width: 25%;
  font-size: 1.2rem;
  color: #fff;
}

.xpLabel {
  margin-right: 10px;
}

.xpBar {
  height: 20px;
  width: 100%;
  background-color: #555;
  border: 2px solid #000;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.xpProgress {
  height: 100%;
  background-color: #00ffcc;
  transition: width 0.5s ease;
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%); /* Slanted edge */
}

.xpValue {
  margin-left: 10px;
  color: #00ffcc;
}

.xpMax {
  margin-left: 10px;
  color: #ffcc00;
}
