[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tiktoken = "*"
sentencepiece = "*"
pandas = "*"
google-cloud-storage = "*"
torch = "*"
transformers = "*"
datasets = "*"
beautifulsoup4 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
